.header {
  display: flex;
  justify-content: space-between;
  padding: 26px 15px;
  max-width: 1200px;
  margin: 0 auto;
}
.headerContainer {
  background-color: #f2f4f7;
}

.headerNav {
  display: flex;
  gap: 32px;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--main);
}
.active {
  color: #0b44cd;
}
